@page
@model FurEver.Pages.DogQuizModel
@{
    ViewData["Title"] = "Dog Breed Quiz";
}


    <div class="container">
        <h1>Dog Breed Quiz</h1>
        @if (Model.QuizFinished)
        {
            <h2>Your Score: @Model.Score / @Model.TotalQuestions</h2>
            <a href="/DogQuiz" class="btn">Start Again</a>
            <a href="/" class="btn">Back to Home</a>
        }
        else if (Model.QuizImageUrl != null)
        {
            <div class="dog-image">
                <img src="@Model.QuizImageUrl" alt="Guess the Dog Breed" />
            </div>
            <form method="post">
                <p>Question @Model.CurrentQuestionNumber of @Model.TotalQuestions: Select the breed:</p>
                @foreach (var option in Model.BreedOptions)
                {
                    <div>
                        <input type="radio" name="selectedBreed" value="@option" required /> @option
                    </div>
                }
                <button type="submit" class="btn">Submit Answer</button>
            </form>
        }

        @if (Model.AnswerResult != null)
        {
            <p class="quiz-result">@Model.AnswerResult</p>
        }
    </div>